---
- name: ensure php-fpm exists
  sudo: true
  apt: pkg={{ item }} state=latest
  with_items:
    - php5
    - php5-fpm
    - php5-mysql
    - php5-cli

- name: ensure socket directory exist and is owned by correct user
  sudo: true
  file: path={{php_fpm_var_dir}} state=directory owner={{php_fpm_user}} group={{php_fpm_group}} mode=0777
  notify: restart php-fpm

- name: disable default pool
  sudo: true
  file: path={{php_fpm_pool_dir}}/www.conf state=absent
  notify: restart php-fpm

- include: deploy.yml
  when: www_servers is defined

