---
- name: add php5.5 ppa
  sudo: true
  apt_repository: repo='ppa:ondrej/php5'

- name: ensure php-fpm exists
  sudo: true
  apt: pkg={{item}} state=latest
  with_items:
    - php5
    - php5-fpm
    - php5-cli
  notify: restart php-fpm

- name: ensure required php extensions exist
  sudo: true
  apt: pkg={{item}} state=latest
  with_items: php_extensions
  when: php_extensions is defined
  notify: restart php-fpm

- name: disable default pool
  sudo: true
  file: path={{php_fpm_pool_dir}}/www.conf state=absent
  notify: restart php-fpm

- include: deploy.yml
  when: www_servers is defined
  notify: restart php-fpm

- name: display errors
  sudo: true
  lineinfile: >
    dest={{php_fpm_etc_dir}}/php.ini
    regexp='^;?display_errors\s?=\s?(Off|On)'
    line='display_errors = On'
  notify: restart php-fpm

- name: set time zone
  sudo: true
  lineinfile: >
    dest={{php_fpm_etc_dir}}/php.ini
    regexp='^;?date\.timezone.*'
    line='date.timezone = UTC'
  notify: restart php-fpm
