---
- name: Add php5.4 repository
  sudo: true
  apt_repository: repo='ppa:ondrej/php5'

- name: Install php-fpm and deps
  sudo: true
  apt: pkg={{ item }} state=latest update_cache=yes
  with_items:
    - php5
    - php5-fpm
    - php5-mysql

- name: Ensure socket directory exist and is owned by correct user
  sudo: true
  file: path={{php_fpm_var_dir}} state=directory owner={{php_fpm_user}} group={{php_fpm_group}}

#- name: Disable default pool
#  command: mv /etc/php-fpm.d/www.conf /etc/php-fpm.d/www.disabled creates=/etc/php-fpm.d/www.disabled
#  notify: restart php-fpm

#- name: Copy php-fpm configuration
#  template: src=wordpress.conf dest=/etc/php-fpm.d/
#  notify: restart php-fpm
